Django>=4.2
psycopg2-binary
python-dotenv
Pillow
django-ninja
django-ninja-jwt
redis
django-redis
requests
celery
django-celery-beat
django-celery-results
flower
mongoengine
pymongo
reportlab
django-ratelimit
email-validator